.Loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--inverted-bg-color) #0000;

    // border-color: var(--primary-color) var(--primary-color);
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(0.5turn);
    }
}
