.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
}
