.ProfileCard {
    padding: 20px;
}

.input {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
